<h3>Order Number: <%= @order.id%> </h3>
<h3>Order Status: <%= @order.status%> </h3>
<p>Placed On: <%= @order.created_at%> </p>
<p>Updates will be sent to: <%= @order.cust_email%> </p>
<p>Shipping Address: <%= @order.cust_address%> </p>
