<!-- <h1>Welcome, <%= Vendor.find_by_id(session[:vendor_id])%>! </h1> -->
<div id="header">
  <h3><%= @vendor.username%>: Order Management Page</h3>
  <h3>Total Revenue: $<%= number_with_precision(@vendor.total_rev, precision: 2) %> </h3>
</div>

<h5 id="center">All Orders</h5>

  <table class="center">
    <tr>
      <th>Order</th>
      <th>Date</th>
      <th>Product</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Subtotal</th>
      <th>Order Status</th>
      <th>Your Order Ship Status</th>
      <th>Edit Ship Status</th>
      <th>Cancel Order</th>
    </tr>

    <tr>
      <% @vendor_products.each do | order_product | %>

      <td><%= link_to order_product.order_id, order_details_path(order_product.order_id)%></td>
      <td><%= order_product.created_at%></td>
      <td><%= link_to Product.find_by_id(order_product.product_id).name, product_path(order_product.product_id)%></td>
      <td>$<%= number_with_precision(Product.find_by_id(order_product.product_id).price, precision: 2)%></td>
      <td><%= order_product.quantity%></td>
      <td>$<%= number_with_precision(order_product.quantity * Product.find_by_id(order_product.product_id).price, precision: 2) %></td>
      <td><%= Order.find_by_id(order_product.order_id).status%></td>
      <td><%= order_product.ship_status %></td>
      <td><%= link_to "Update Status", update_ship_path(order_product.id), method: :post %></td>
      <td><%= link_to "Cancel Order", cancel_order_product_path(order_product.id), method: :post %></td>
    </tr>
  <% end %>
  </table>

  <h5 id="center">Completed Orders</h5>

    <table class="center">
      <tr>
        <th>Order</th>
        <th>Date</th>
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Subtotal</th>
        <th>Order Status</th>
        <th>Your Order Ship Status</th>
        <th>Edit Ship Status</th>
        <th>Cancel Order</th>
      </tr>

      <tr>
        <% @vendor_products.each do | order_product | %>
        <% if order_product.ship_status == "Completed" %>
        <td><%= link_to order_product.order_id, order_details_path(order_product.order_id)%></td>
        <td><%= order_product.created_at%></td>
        <td><%= link_to Product.find_by_id(order_product.product_id).name, product_path(order_product.product_id)%></td>
        <td>$<%= Product.find_by_id(order_product.product_id).price%></td>
        <td><%= order_product.quantity%></td>
        <td>$<%= order_product.quantity * Product.find_by_id(order_product.product_id).price %></td>
        <td><%= Order.find_by_id(order_product.order_id).status%></td>
        <td><%= order_product.ship_status %></td>
        <td><%= link_to "Update Status", update_ship_path(order_product.id), method: :post %></td>
        <td><%= link_to "Cancel Order", cancel_order_product_path(order_product.id), method: :post %></td>
      </tr>
      <% end %>
    <% end %>
    </table>

    <h5 id="center">Cancelled Orders</h5>

      <table class="center">
        <tr>
          <th>Order</th>
          <th>Date</th>
          <th>Product</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Subtotal</th>
          <th>Order Status</th>
          <th>Your Order Status</th>
          <th>Edit Ship Status</th>
          <th>Cancel Order</th>
        </tr>

        <tr>
          <% @vendor_products.each do | order_product | %>
          <% if order_product.ship_status == "Cancelled" %>
          <td><%= link_to order_product.order_id, order_details_path(order_product.order_id)%></td>
          <td><%= order_product.created_at%></td>
          <td><%= link_to Product.find_by_id(order_product.product_id).name, product_path(order_product.product_id)%></td>
          <td>$<%= Product.find_by_id(order_product.product_id).price%>0</td>
          <td><%= order_product.quantity%></td>
          <td>$<%= order_product.quantity * Product.find_by_id(order_product.product_id).price %></td>
          <td><%= Order.find_by_id(order_product.order_id).status%></td>
          <td><%= order_product.ship_status %></td>
          <td><%= link_to "Update Status", update_ship_path(order_product.id), method: :post %></td>
          <td><%= link_to "Cancel Order", cancel_order_product_path(order_product.id), method: :post %></td>
        </tr>
        <% end %>
      <% end %>
      </table>
