<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">

<body>

  <section class="hero-image">
    <%= image_tag @vendor.image_url %>
    <h1 class="hero-content"> Welcome, <%= @vendor.username%> </h1>
  </section>


    <p class="manage-buttons">

      <%= link_to "Manage Products", vendor_path, :class => "button" %>
    </p>
    <p class="manage-buttons">
      <%= link_to "Manage Orders", manage_orders_path, :class => "button" %>
    </p>
    <p class="manage-buttons">
      <%= link_to "Create a new Category", new_category_path, :class => "button" %>
    </p>
