
<main>
<main><h2 id="prod">Add a New Category</h2>

  <div class="row">
    <section class="small-12 large-8 columns">
      <%= form_for @category do |f| %>
      <%= f.hidden_field :image_url, value: "https://unsplash.it/1500/500" %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.submit :class => "button" %>
      <% end %>
    </section>
  </div>


<%= form_for @category do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.submit class: "button" %>
<% end %>

</main>
