<div class="hero-image">
  <%= image_tag @image %>
  <div class="hero-content">
    <h2><h2><%= @header %></h2></h2>
    <div class="row">
    <h4 class="small-12 medium-8 columns"><%= @description %></h4>
    </div>
    <% if params[:vendor_id] %>
      <a href="#" class="button white-button">Contact</a>
    <% end %>
  </div>
</div>


<main>
  <div class="row">
    <% @products.each do | product | %>
      <section class="small-12 medium-4 columns">
        <%= image_tag product.photo_url %>
        <h4><%= link_to product.name, product_path(product.id) %> </h4>
        <h5><strong>$<%= number_with_precision(product.price, precision: 2) %></strong></h5>
      </section>
    <% end %>
  </div>
</main>
