<h1>Product Detail Page</h1>
<p>
  <ul>
  <li>
    <%= image_tag @product.photo_url %>
  </li>
  <li>
    <%= @product.name %>
  </li>
  <li>
    <%= @product.description %>
  </li>
  <li>
    <%= @product.price %>
  </li>
  <li>
    quantity available: <%= @product.inventory %>
  </li>
    <li>
      sold by: <%= link_to @product.vendor.username, vendor_products_path(@product.vendor.id) %>
    </li>
    Categories:
  </ul>
  <ul>
  <% @product.categories.each do |category| %>
    <li> <%= category.name %> </li>
  <% end %>
  </ul>

  <h3>Reviews:</h3>
  <% if @product.reviews.empty? %>
  <p>There are no reviews yet. <%= link_to "Please be the first to review this product", new_product_review_path(@product.id) %>
    <% else %>
    <% @product.reviews.each do |review| %>
    <%= review.rating %>
    <%= review.comment %>
    <% end %>
    <% end %>

  </p>

</p>
<%= link_to "Review this product!", new_product_review_path(@product.id) %>


<%= link_to "Add to Cart", product_add_to_cart_path(params[:id]), method: :post%>
