<h1>Product Detail Page</h1>
<p>
  <ul>
  <li>
    <%= image_tag @product.photo_url %>
  </li>
  <li>
    <%= @product.name %>
  </li>
  <li>
    <%= @product.description %>
  </li>
  <li>
    <%= @product.price %>
  </li>
    <li>
      sold by: <%= link_to @product.vendor.username, vendor_path(@product.vendor.id) %>
    </li>
    Categories:
  </ul>
  <ul>
  <% @product.categories.each do |category| %>
    <li> <%= category.name %> </li>
  <% end %>
  </ul>

</p>
<%= link_to "Delete", product_path(@product.id), data: { confirm: "Are you sure you want to delete this product?"
}, method: :delete %>

<%= link_to "Add to Cart", product_add_to_cart_path(params[:id]), method: :post%>
