<article class="review">
  <div class="row">
    <section class="medium-8 columns">
      <h1>Reviews</h1>
      <h3>Please rate this product</h3>
    </section>
  </div>

  <%= form_for @review, method: :post, url: product_reviews_path do |f| %>
  <% if @review.errors.any? %>
  <div class="row small-6 large-6 end callout alert">
    <ul>
      <% @review.errors.each do |col, mess| %>
      <li>
        <%=col%><%=mess%></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <div class="row">
      <p class="small-8 medium-centered columns">
        <form>
        <fieldset>
          <legend>Review</legend>
        <%= f.label :rating, value: 1 %>
        <%= f.radio_button :rating, 1%>
        <%= f.label :rating, value: 2 %>
        <%= f.radio_button(:rating, 2) %>
        <%= f.label :rating, value: 3 %>
        <%= f.radio_button(:rating, 3) %>
        <%= f.label :rating, value: 4 %>
        <%= f.radio_button(:rating, 4) %>
        <%= f.label :rating, value: 5 %>
        <%= f.radio_button(:rating, 5) %></p></div>
        <div class="row"><p class="medium-4 columns"><%= f.label :comment, "Review" %>
          <%= f.text_area :comment %></div>
          <%= f.hidden_field :product_id, value: @product.id %></p>
          <%= f.submit class: "button submit" %>
          <% end %>
        </div>
      </fieldset>
    </form>
      </section>
    </article>

    <!--label for="review_rating_1">1</label-->
    <!--input type="radio" value="1" name="review[rating]" id="review_rating_1"-->
