<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Betsy</title>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<body>
  <header>
  <h1 id="title">Indulge</h1>

  <nav class="clearfix">
    <ul class="primary">
      <li class="left"><%= link_to "Home", root_path %></li>
      <li class="left"><%= link_to "All products", products_path %></li>
      <li class="left"><%= link_to "Browse categories", categories_path %></li>
      <li class="left"><%= link_to "Browse vendors", vendors_path %></li>
    </ul>
  </nav>

  <nav>
      <ul class="menu secondary">
        <% if session[:vendor_id] %>
              <li><%= link_to "Your account", vendor_account_path%></li>
        <% end %>
        <li>
          <% unless session[:vendor_id] %>
          <%= link_to "Sign in", "/auth/github" %>
          <% else %>
          <%= link_to "Sign out", logout_path, method: :delete %>

          <% end %>
        </li>
        <li class="highlight"><%= link_to "Cart", order_cart_path(session[:order_id]) %></li>
      </ul>
    </nav>
</header>

  <section class="flash">
    <% flash.each do |name, message| %>
    <div class="<%= name %>"><%= message %></div>
    <% end %>
  </section>

  <%= yield %>
</body>
</html>
